openapi: 3.1.0
info:
  title: Midas API
  version: 0.3.0
  description: >-
    USD-denominated payment ledger for built-in EVM USDC and USDT on Ethereum,
    BNB Smart Chain, Base, Arbitrum One, OP Mainnet, and Polygon. Midas does not
    block-scan: a client submits a specific confirmed transaction hash for deposit
    verification. Payment writes require an Auth Mini bearer token and an
    Idempotency-Key header.
servers:
  - url: https://midas.ntnl.io/api
security:
  - bearerAuth: []
paths:
  /health:
    get:
      security: []
      summary: Public service health
      responses: { '200': { description: Healthy } }
  /version:
    get:
      security: []
      summary: Deployed build identity
      responses: { '200': { description: Version information } }
  /auth/config:
    get:
      security: []
      summary: Public Auth Mini and Linkit configuration
      responses: { '200': { description: Integration configuration } }
  /setup/status:
    get:
      security: []
      summary: Root initialization state
      responses: { '200': { description: Setup state } }
  /setup/initialize:
    post:
      summary: Initialize root_user_id once with the caller's own Auth Mini subject
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [root_user_id], properties: { root_user_id: { type: string, format: uuid } } }
      responses: { '200': { description: Initialized }, '403': { description: Caller and supplied subject differ }, '409': { description: Already initialized } }
  /assets:
    get:
      summary: Built-in USDC/USDT assets and common EVM networks
      responses: { '200': { description: Assets } }
  /balances/me:
    get:
      summary: Current caller's available USD balance, in exact micro-dollars
      responses: { '200': { description: Balance, content: { application/json: { schema: { $ref: '#/components/schemas/Balance' } } } } }
  /ledger/me:
    get:
      summary: Current caller's immutable USD ledger history, with chain and transaction data for deposits and withdrawals
      responses:
        '200':
          description: Ledger entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LedgerEntry' }
  /wallet-addresses/me:
    get:
      summary: Current caller's automatically provisioned single EVM-compatible deposit address
      responses: { '200': { description: Single-element deposit address list } }
  /deposits/confirm:
    post:
      summary: Verify one confirmed ERC-20 Transfer receipt, credit USD, and queue collection
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DepositRequest' }
      responses: { '200': { description: Credited deposit }, '409': { description: Transaction is not final or already credited }, '422': { description: "Transaction, asset, or recipient does not match" }, '502': { description: Blockchain RPC is unavailable; retry without balance change } }
  /transfers:
    post:
      summary: Atomically move an available USD balance to another user, provisioning their Midas account and wallet when needed
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransferRequest' }
      responses: { '200': { description: Posted transfer }, '409': { description: Insufficient balance } }
  /withdrawals:
    get:
      summary: Current caller's withdrawals and their chain finality state
      responses: { '200': { description: Withdrawals } }
    post:
      summary: Reserve USD and submit an ERC-20 withdrawal to a direct EVM destination address
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithdrawalRequest' }
      responses: { '200': { description: Withdrawal accepted } }
  /withdrawals/{id}/address-book:
    post:
      summary: Save and label a destination already used by the caller's withdrawal
      parameters: [ { name: id, in: path, required: true, schema: { type: string, format: uuid } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithdrawalAddressBookInput' }
      responses: { '200': { description: Created or reused address book entry } }
  /address-book/me:
    get:
      summary: Current caller's EVM withdrawal address book
      responses: { '200': { description: Address book entries } }
    post:
      summary: Add a named address book entry for a built-in EVM chain
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddressBookEntryInput' }
      responses: { '200': { description: Address book entry created }, '409': { description: Duplicate address on this chain } }
  /address-book/me/{id}:
    put:
      summary: Rename an address book entry
      parameters: [ { name: id, in: path, required: true, schema: { type: string, format: uuid } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [label], properties: { label: { type: string, minLength: 1, maxLength: 80 } } }
      responses: { '200': { description: Updated address book entry } }
    delete:
      summary: Delete an unused address book entry
      parameters: [ { name: id, in: path, required: true, schema: { type: string, format: uuid } } ]
      responses: { '204': { description: Deleted }, '409': { description: Entry is used by a withdrawal } }
  /withdrawals/{id}/finalize:
    post:
      summary: Verify the exact submitted withdrawal transaction receipt and resolve its reserved ledger entry
      parameters: [ { name: id, in: path, required: true, schema: { type: string, format: uuid } } ]
      responses: { '200': { description: Finalized withdrawal }, '409': { description: Not confirmed yet } }
  /admin/evm-config:
    get:
      summary: Root-only EVM configuration; never returns private key material
      responses: { '200': { description: EVM configuration } }
    put:
      summary: Root-only configuration of the single custody wallet; its address is derived from its private key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EvmConfigInput' }
      responses: { '200': { description: Saved configuration } }
  /admin/balances:
    get:
      summary: Root-only all-user USD balance list and aggregate settlement exposure
      responses:
        '200':
          description: Exact available balances for every Midas user and their aggregate
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminBalancesResponse' }
  /admin/ledger:
    get:
      summary: Root-only global immutable ledger with action, status, user, and pagination filters
      parameters:
        - { name: kind, in: query, schema: { type: string, enum: [deposit, withdrawal, transfer_in, transfer_out, adjustment] } }
        - { name: status, in: query, schema: { type: string, enum: [pending, posted, rejected, disabled] } }
        - { name: user_id, in: query, schema: { type: string, format: uuid } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: Filtered ledger page. Only deposit and withdrawal entries include chain transaction metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminLedgerPage' }
  /admin/deposits:
    get:
      summary: Root-only deposit and collection-operation history, newest first
      responses:
        '200':
          description: Up to 100 credited deposits with their collection state and public transaction references
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminDeposit' }
  /admin/deposits/{id}/sweep:
    post:
      summary: Root-only retry of a queued, failed, or awaiting-configuration gas-funding and ERC-20 collection sequence
      parameters: [ { name: id, in: path, required: true, schema: { type: string, format: uuid } } ]
      responses: { '200': { description: Sweep submitted or awaiting configuration }, '409': { description: Collection is already submitted } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, maxLength: 128 }
      description: A stable caller-generated key for exactly-once payment intent creation.
  schemas:
    Balance:
      type: object
      required: [currency, available_usd_micros, available_usd]
      properties:
        currency: { const: USD }
        available_usd_micros: { type: integer, format: int64, description: Exact USD micro-dollars }
        available_usd: { type: string, example: '12.500000' }
    LedgerEntry:
      type: object
      required: [id, kind, status, amount_usd_micros, balance_delta_usd_micros, created_at]
      properties:
        id: { type: string, format: uuid }
        kind: { type: string, enum: [deposit, withdrawal, transfer_in, transfer_out, adjustment] }
        status: { type: string, enum: [pending, posted, rejected, disabled] }
        amount_usd_micros: { type: integer, format: int64 }
        balance_delta_usd_micros: { type: integer, format: int64 }
        created_at: { type: string, format: date-time }
        posted_at: { type: [string, 'null'], format: date-time }
        asset_symbol: { type: [string, 'null'], enum: [USDC, USDT, null] }
        chain_id: { type: [integer, 'null'], enum: [1, 10, 56, 137, 8453, 42161, null] }
        network_name: { type: [string, 'null'] }
        transaction_hash: { type: [string, 'null'], pattern: '^0x[a-fA-F0-9]{64}$' }
        external_reference: { type: [string, 'null'] }
        note: { type: [string, 'null'] }
    AdminUserBalance:
      type: object
      required: [user_id, created_at, available_usd_micros, available_usd]
      properties:
        user_id: { type: string, format: uuid }
        created_at: { type: string, format: date-time }
        available_usd_micros: { type: integer, format: int64 }
        available_usd: { type: string }
    AdminBalancesResponse:
      type: object
      required: [summary, users]
      properties:
        summary:
          type: object
          required: [user_count, funded_user_count, total_available_usd_micros, total_available_usd]
          properties:
            user_count: { type: integer }
            funded_user_count: { type: integer }
            total_available_usd_micros: { type: integer, format: int64 }
            total_available_usd: { type: string }
        users:
          type: array
          items: { $ref: '#/components/schemas/AdminUserBalance' }
    AdminLedgerEntry:
      allOf:
        - { $ref: '#/components/schemas/LedgerEntry' }
        - type: object
          required: [user_id]
          properties:
            user_id: { type: string, format: uuid }
            counterparty_user_id: { type: [string, 'null'], format: uuid }
    AdminLedgerPage:
      type: object
      required: [entries, total, limit, offset]
      properties:
        entries:
          type: array
          items: { $ref: '#/components/schemas/AdminLedgerEntry' }
        total: { type: integer, minimum: 0 }
        limit: { type: integer, minimum: 1, maximum: 100 }
        offset: { type: integer, minimum: 0 }
    DepositRequest:
      type: object
      required: [asset_id, transaction_hash]
      properties:
        asset_id: { type: string }
        transaction_hash: { type: string, pattern: '^0x[a-fA-F0-9]{64}$' }
    TransferRequest:
      type: object
      required: [recipient_user_id, amount_usd_micros]
      properties:
        recipient_user_id: { type: string, format: uuid }
        amount_usd_micros: { type: integer, format: int64, minimum: 1 }
        note: { type: string, maxLength: 280 }
    WithdrawalRequest:
      type: object
      required: [asset_id, destination_address, amount_usd_micros]
      properties:
        asset_id: { type: string }
        destination_address: { type: string, pattern: '^0x[a-fA-F0-9]{40}$', description: Direct EVM destination. The asset determines its chain. }
        amount_usd_micros: { type: integer, format: int64, minimum: 1 }
        note: { type: string, maxLength: 280 }
    WithdrawalAddressBookInput:
      type: object
      required: [label]
      properties:
        label: { type: string, minLength: 1, maxLength: 80 }
    AddressBookEntryInput:
      type: object
      required: [chain_id, label, address]
      properties:
        chain_id: { type: integer, enum: [1, 10, 56, 137, 8453, 42161] }
        label: { type: string, minLength: 1, maxLength: 80 }
        address: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
    EvmConfigInput:
      type: object
      properties:
        custody_wallet_private_key: { type: string, writeOnly: true, description: "One EVM key funds gas, collects deposits, and signs withdrawals. Its address is derived server-side." }
    AdminDeposit:
      type: object
      required: [id, user_id, deposit_address, asset_symbol, chain_id, network_name, amount_usd_micros, amount_usd, transaction_hash, sweep_status, created_at, sweep_operation_status, sweep_updated_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        deposit_address: { type: string, pattern: '^0x[a-fA-F0-9]{40}$' }
        asset_symbol: { type: string, enum: [USDC, USDT] }
        chain_id: { type: integer, enum: [1, 10, 56, 137, 8453, 42161] }
        network_name: { type: string }
        amount_usd_micros: { type: integer, format: int64 }
        amount_usd: { type: string }
        transaction_hash: { type: string, pattern: '^0x[a-fA-F0-9]{64}$' }
        sweep_status: { type: string, enum: [queued, awaiting_configuration, submitted, swept, failed] }
        created_at: { type: string, format: date-time }
        sweep_operation_status: { type: string, enum: [queued, submitted, swept, failed] }
        gas_transaction_hash: { type: [string, 'null'] }
        token_transaction_hash: { type: [string, 'null'] }
        sweep_error_message: { type: [string, 'null'] }
        sweep_updated_at: { type: string, format: date-time }
